footer {
  background: #fffaf8;
  padding: 60px 0 20px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

/* Logo qismi */
.footer__logo {
  flex: 1;
  min-width: 230px;
}

.footer__logo-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.footer__contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__contact li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #374151;
  margin-bottom: 10px;
  font-size: 15px;
}

/* Home va About qismlari */
.footer__links {
  display: flex;
  flex: 2;
  justify-content: center;
  gap: 80px;
}

.footer__links > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 150px;
}

.footer__title {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav li {
  margin-bottom: 10px;
}

.footer__nav a {
  text-decoration: none;
  color: #374151;
  font-size: 15px;
  transition: color 0.3s;
}

.footer__nav a:hover {
  color: #000;
}

/* Social profiles */
.footer__socials {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 22px;
  margin-top: 10px;
}

.footer__icons a {
  color: #6b7280;
  transition: color 0.3s;
}

.footer__icons a:hover {
  color: #000;
}

/* Chiziq va copyright */
.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #e5e7eb;
  margin: 40px 0 20px;
}

.footer__copyright {
  text-align: center;
  color: #6b7280;
  font-size: 14px;
}

/* Mobil uchun */
@media (max-width: 768px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__contact {
    margin: 0 0 0 30px;
  }
  .footer__links {
    display: flex;
    justify-content: space-around;
  }

  .footer__links > div {
    align-items: center;
  }

  .footer__socials {
    text-align: center;
  }
}
